In [11]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
df = pd.read_csv('./yellow_tripdata_2021-01.csv', nrows=100)

In [ ]:
df.head()

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
from sqlalchemy import create_engine

In [ ]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data'))

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100_000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [14]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [15]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [17]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [ ]:
postgres -D /usr/local/var/postgres